.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: blue;
}

.tile {
  width: 0.55rem;
  height: 0.55rem;
  // border: 1px solid black;
  line-height: 0rem;
}

.row {
  display: flex;
  flex-direction: row;
  line-height: 0rem;
}

.forest {
  background-color: chartreuse;
}

.forest-burning {
  background-color: red;
  animation: colorchange 1s;
}

.forest-burnt {
  background-color: black;
}

.water {
  background-color: cyan;
}

@keyframes colorchange {
  0% {
    background: red;
  }
  50% {
    background: darkred;
  }
  100% {
    background: red;
  }
}
.input-holder {
  border: 1px solid #cccccc;
  display: inline-block;
  padding: 5px;
}
.input-holder > input {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}
.input-holder::after {
  content: "%";
}
